version: "3.8"

services:
  mongo:
    image: mongo:8.2
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  stakeholders-service:
    build:
      context: ./stakeholders-service
      dockerfile: Dockerfile
    container_name: stakeholders-service
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - DB_NAME=stakeholders
      - PORT=8080
    ports:
      - "8080:8080"
    restart: unless-stopped




volumes:
  mongo-data: